
#navbar
{
position: fixed;
border-right: 2px solid rgb(109, 106, 106);
left: 0;
top: 0;
width: 300px;
}
#navbar > header
{
    margin-left: 20px;
    font-size: 1.2rem;
    text-align: center;
}
#all-navs ul 
{
height: 90vh;
padding: 0;
overflow-y:auto;
}
#all-navs li{
    line-height: 50px;
    border-top: 1px solid black;
    margin-bottom: 1px;
    border-right: none;
    padding: 1%,2%;
    text-align: center;
    position: relative;
    width: 100%;
    list-style: none;
}
.nav-link
{
    color: rgb(133, 127, 127);
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}
#main-doc
{
    margin-left: 380px;
    text-align: left;
    width:70%;
    font-size: 1.1rem;
    padding-right: 1%;
}
code
{
    background-color: #eee;
    width: 100;
    min-width: 200px;
    padding: 2px;
}
 .btn
{
    border-radius:100%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    font-weight: bolder;
    background-color: black;
    color: #ffffff;
    display: none;
} 
@media (max-width:800px) 
{
    #navbar
    {
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        top:0;
        width:100%;
        max-height: 300px;
        border: 1px solid black;
        z-index: 1;
    }
    #navbar ul
    {
        height: 200px;
    }
    #main-doc
    {
        margin-top: 320px;
        margin-left: 0;
        width: 100%;  
    }
    .btn
    {
        display: block;
        position: fixed;
        left: 2%;
        bottom: 2%;
        opacity:0.75;
    }
}